* {
    border: none;
    border-radius: 0;
    font-family: "Maple Mono NF";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: #000000;
    color: #e0e0e0;
    /* background-color: transparent; */
}

tooltip {
    background-color: transparent;
}

tooltip label {
    color: #ffffff;
    background-color: #121212;
    border-radius: 8px;
    border: 2px solid #333333;
}

#workspaces {
    background: #1a1a1a;
    border-radius: 8px;
    margin: 4px 2px;
    padding: 2px;
}

#workspaces button {
    padding: 0;
    margin: 2px;
    background: #333333;
    color: #808080;
    border-radius: 8px;
    min-width: 20px;
    min-height: 20px;
}

#workspaces button.active {
    color: #000000;
    background: #4d4d4d;
    border-radius: 8px;
    min-width: 40px;
}

#workspaces button.urgent {
    color: #ff3333;
}

#workspaces button:hover {
    color: #000000;
    background: #666666;
    border-radius: 8px;
    min-width: 40px;
    transition-duration: 200ms;
}

/* Left modules */
#window {
    color: #66b3ff;
    background: #1a1a1a;
    border-radius: 8px;
    padding: 0 12px;
    margin: 2px;
    margin: 4px 2px;
}

/* Center modules */
#custom-window-count,
#clock,
#idle_inhibitor {
    color: #cc99ff;
    background: #1a1a1a;
    border-radius: 8px;
    padding: 0 12px;
    margin: 4px 2px;
}

/* Right modules */
#custom-notifications,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#backlight,
#battery,
#tray,
#language {
    padding: 0 10px;
    margin: 2px;
    margin: 4px 2px;
    border-radius: 8px;
    background: #1a1a1a;
}

#language {
    color: #66ff99;
}

#cpu {
    color: #66ff99;
}

#memory {
    color: #ffff66;
}

#disk {
    color: #ffcc66;
}

#temperature {
    color: #ff9933;
}

#temperature.critical {
    color: #ff3333;
    animation: blink 1s linear infinite;
}

#network {
    color: #66b3ff;
}

#pulseaudio {
    color: #ffff66;
}

#pulseaudio.muted {
    color: #ff3333;
}

#backlight {
    color: #ffcc00;
}

#battery {
    color: #66ff99;
}

#battery.warning {
    color: #ffcc66;
}

#battery.critical {
    color: #ff3333;
}

#tray {
    color: #e0e0e0;
}

#idle_inhibitor {
    color: #808080;
}

#idle_inhibitor.activated {
    color: #ffff66;
    background: #1a1a1a;
}

@keyframes blink {
    to {
        background-color: #ff3333;
        color: #000000;
    }
}
