* {
    border: none;
    font-family: "IosevkaTerm Nerd Font";
    font-weight: 600;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #f6f7fc;
    background: black;
}

#workspaces button {
    padding: 3px;
}

#workspaces button.active {
    color: red;
}

#workspaces button:hover {
    color: black;
    background: #a6e3a1;
    border-radius: 10px;
}

#window,
#cpu,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#language,
#backlight,
#tray,
#temperature,
#workspaces,
#idle_inhibitor,
#custom.dmyt
#idle_inhibitor,
#backlight {
    padding: 0px 5px;
    margin: 0px 1px;
    border: 0px;
}

#idle_inhibitor {
    border-radius: 10px;
    background: #303030;
}

#tray {
    border-radius: 10px;
    background: #303030;
    padding-left: 0;
    padding-right: 0;
}

#window {
    border-radius: 10px;
    background: #303030;
}

