* {
    font-family: JetBrains Mono;
    font-size: 20px;
    color: #d5c4a1; /* Gruvbox foreground soft */
}

window {
    background-color: #282828; /* Gruvbox background dark */
    /* border: 2px solid #88c0d0; /* Gruvbox blue */ 
    border: 2px solid #b2b426; /* Gruvbox blue */
    // border-radius: 15px;
    border-radius: 0;
}

#outer-box {
    margin-bottom: 12px;
}

#input {
    border: none;
    background-color: #282828; /* Gruvbox background dark */
    margin: 7px;
    box-shadow: none; /* Remove blue "border" */
}

#inner-box {
    background-color: #282828; /* Gruvbox background dark */
    margin: 7px;
    margin-top: 0;
}

#entry {
    padding-left: 5px;
    border: none;
    margin-left: -5px;
    margin-right: -5px;
    outline: none;
}

#entry:selected {
    background-color: #3c3836; /* Gruvbox background soft */
    font-weight: 700;
    border-radius: 0;
}

#text {
    margin: 2px;
}

#text:selected {
    color: #d5c4a1; /* Gruvbox foreground soft */
}

/* Hide backspace icon */
.right {
    color: transparent;
}

