@define-color bg_dark    #282c34;
@define-color bg_medium  #3e4451;
@define-color fg_light   #abb2bf;

@define-color blue       #61afef;
@define-color yellow     #e5c07b;
@define-color red        #e06c75;
@define-color olive      #98c379;
