* {
    border: none;
    border-radius: 5;
    font-family: "Maple Mono NF";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: #1d2021;
    color: #d5c4a1;
}

tooltip {
    background-color: transparent;
}

tooltip label {
    padding: 5px;
    color: #ebdbb2;
    background: #1d2021;
    border: 2px solid #3c3836;
}

#workspaces {
    background: #3c3836;
    margin: 4px 2px;
    padding: 2px;
}

#workspaces button {
    padding: 0;
    margin: 2px;
    background: #83a598;
    color: #3c3836;
    min-width: 20px;
    min-height: 20px;
}

#workspaces button.active {
    color: #1d2021;
    background: #adb024;
    min-width: 40px;
}

#workspaces button.urgent {
    color: #fb4934;
}

#workspaces button:hover {
    color: #1d2021;
    min-width: 40px;
    transition-duration: 200ms;
}

#window {
    color: #83a598;
    background: #3c3836;
    padding: 0 12px;
    margin: 2px;
    margin: 4px 2px;
}

#custom-window-count,
#clock,
#idle_inhibitor {
    color: #d3869b;
    background: #3c3836;
    padding: 0 12px;
    margin: 4px 2px;
}

#custom-notifications,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#backlight,
#battery,
#tray,
#language {
    padding: 0 10px;
    margin: 2px;
    margin: 4px 2px;
    background: #3c3836;
}

#language {
    color: #8ec07c;
}

#cpu {
    color: #8ec07c;
}

#memory {
    color: #8ec07c;
    /* color: #b8bb26; */
}

#disk {
    color: #8ec07c;
    /* color: #d79921; */
}

#temperature {
    color: #fe8019;
}

#temperature.critical {
    color: #fb4934;
    animation: blink 1s linear infinite;
}

#network {
    color: #83a598;
}

#pulseaudio {
    color: #8ec07c;
    /* color: #b8bb26; */
}

#pulseaudio.muted {
    color: #fb4934;
}

#backlight {
    color: #8ec07c;
    /* color: #fabd2f; */
}

#battery {
    color: #8ec07c;
}

#battery.warning {
    color: #d79921;
}

#battery.critical {
    color: #fb4934;
}

#idle_inhibitor.activated {
    background: #8ec07c;
}

@keyframes blink {
    to {
        background-color: #fb4934;
        color: #1d2021;
    }
}
