@define-color bg_dark    #000000;
@define-color bg_medium  #2a2a2a;
@define-color fg_light   #e0e0e0;

@define-color blue       #5aaaff;
@define-color yellow     #ffd75f;
@define-color red        #ff5f5f;
@define-color olive      #a6e22e;
