@define-color bg_dark    #1d2021;
@define-color bg_medium  #3c3836;
@define-color fg_light   #d5c4a1;

@define-color blue       #83a598;
@define-color yellow     #d79921;
@define-color red        #fb4934;
@define-color olive      #adb024;

